/** Special styles for the blog main page */

.index-container {
  margin-bottom: 2em;
}

.article-col {
  vertical-align: top;
  width: 49%;

  display: inline-block;
  @include my_media_maxw($my-laptop-width) {
      display: block;
      width: 100%;
  }
}

