/** Special styles for the blog main page */

.index-container {
  margin-bottom: 2em;
  width : 120%;
  margin-left: -5%;
}

.article-col {
  vertical-align: top;
  display: inline-block;
  width: 49%;
}

