/**
 * Posts
 */
.post-header {
    padding: 0px;
    margin-bottom: $spacing-unit;
}

.post-title {
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0px;
    display: inline-block;
}

.post-nonpublished-warn {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
    background-color:chartreuse;
    p {
      font-size: 120%;
      font-weight: bold;
      margin-left: 2em;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
}


.my-prev-next {
  display: block;
  margin-bottom: 0.5em;

  .next-post {
    float: right;
    margin-right : -3em;
  }
  .previous-post {
    margin-left : -3em;
  }

  @include my_media_maxw($my-phone-width) {
    .next-post, .previous-post {
      float: none;
      margin-right: 0em;
    }
  }
}

.my-viz-container {
  svg {
    display: block;
    margin: auto;
  }
}

.my-block-wide-img {
  margin-left: -10%;
  margin-bottom: 2em;
  margin-right: -10%;
  width: 120%;
  max-width: 120%;
  @include my_media_maxw($my-laptop-width) {
    width: 140%;
    max-width: 140%;
  }
  @include my_media_maxw($my-phone-width) {
    width: 200%;
    max-width: 200%;
  }
  display: block;
}

.my-block-img {
  max-width: 100%;
  @include my_media_maxw($my-laptop-width) {
    max-width: 110%;
  }
  @include my_media_maxw($my-phone-width) {
    max-width: 140%;
  }
  //display: block;
  &.my-center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.my-block-small-img {
  max-width: 50%;
  @include my_media_maxw($my-laptop-width) {
    max-width: 60%;
  }
  @include my_media_maxw($my-phone-width) {
    max-width: 100%;
  }
  //display: block;
  &.my-center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.my-inline-img {
  max-width: 45%;
  @include my_media_maxw($my-laptop-width) {
    max-width: 55%;
  }
  @include my_media_maxw($my-phone-width) {
    max-width: 100%;
  }
  display: inline;
  @include my_media_maxw($my-phone-width) {
    display: block;
  }
}

.my-avatar {
  margin-right : 2em;
}

%my-base-table {
  border-collapse:collapse; 
  width:100%; 
  margin-bottom: 1em;
  background:ghostwhite; 

  th,tr,td {
    padding:0.5em;
    border:2px solid gray;
  }
  th {
    background:lavender; 
    text-align:left;
  }
}

.my-table {
  @extend %my-base-table;
}

.my-short-table {
  @extend %my-base-table;
  width:50%; 
  @include my_media_maxw($my-laptop-width) {
    width: 70%;
  }
  @include my_media_maxw($my-phone-width) {
    width: 85%;
  }
}

.MathJax_SVG_Display {
  text-align: left !important;
  padding-left: 2em;
  //color: midnightblue;
}

.my-split-h {
    width: 49%;
    display: inline-block;
    @include my_media_maxw($my-phone-width) {
      width: 100%;
      display: block;
    }
    vertical-align:middle;
}

