<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="wrapper">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>

      <div class="post-content">
        {{ content }}
      </div>
    </div>

    <div class="diagram-wrapper">
      {% if page.diagram %}
        <img class="diagram-image" src="{{ site.images }}/{{ page.diagram }}" alt="{{ page.title }}"/>
      {% endif %}
      {% for diagram in page.diagram_list %}
        <img class="diagram-image" src="{{ site.images }}/{{ diagram }}" alt="{{ page.title }}"/>
      {% endfor %}
    </div>

    <div class="wrapper">
      {% include past_next_post.html %}
    </div>
    {% include footer.html %}
  </body>

</html>

