<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include page_header.html %}

    <div class="wrapper">
      <h2>Welcome</h2>
      {{ content }}

      <div class="index-container">

      {% for category in site.index_categories %}
        <div class="article-col">
          <h2>{{ category.name }}</h2>
          <ul>
          {% assign sorted_articles = site.categories[category.id] | sort: 'title' %}
          {% for post in sorted_articles %}
            {% assign ymd_date = post.date | date: '%Y-%m-%d - ' %}
            {% assign full_title = ymd_date | append: post.title %}
            {% if post.published == false %}
              <li><a href="{{post.url}}">{{ full_title }}</a> [DRAFT]</li>
            {% else %}
              <li><a href="{{post.url}}">{{ full_title }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      {% endfor %}
      </div>
    </div>

    {% include page_footer.html %}

  </body>

</html>

