<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include page_header.html %}

    <div class="wrapper">
      <h2>Welcome</h2>
      {{ content }}

      <div class="index-container">
        <div class="article-col">
          <h2>CS related</h2>
          <ul>
          {% assign sorted_cs_art = site.categories.cs_related | sort: 'title' %}
          {% for post in sorted_cs_art %}
            {% assign ymd_date = post.date | date: '%Y-%m-%d - ' %}
            {% assign categories = post.categories | slice: 1, 3 | join: ', ' | prepend: '  [ ' | append: ' ]' %}
            {% assign full_title = ymd_date | append: post.title %}
            <li><a href="{{post.url}}">{{ full_title }}</a></li>
          {% endfor %}
          </ul>
        </div>

        <div class="article-col">
          <h2>Miscellaneous</h2>
          <ul>
          {% assign sorted_misc_art = site.categories.misc | sort: 'title' %}
          {% for post in sorted_misc_art %}
            {% assign ymd_date = post.date | date: '%Y-%m-%d - ' %}
            {% assign categories = post.categories | slice: 1, 3 | join: ', ' | prepend: '  [ ' | append: ' ]' %}
            {% assign full_title = ymd_date | append: post.title %}
            <li><a href="{{post.url}}">{{ full_title }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% include page_footer.html %}

  </body>

</html>

